/* * {
    outline: 1px solid red;
} */

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.title-pad {
    padding: 20em 0 10em
}

.nav-spacer {
    padding-top: 10em;
}

.bg-blue {
    background: linear-gradient(270deg, rgb(97, 161, 182) 40%, rgb(157, 219, 240) 75%, rgb(97, 161, 182));
}

.bg-black {
    background-color: rgb(26, 20, 20);
}

.white {
    color: white;
}

.main-logo-pos {
    display: flex;
    justify-content: center;
}

.main-icon {
    font-size: 3em;
    color: gold;
    border-radius: 45%;
    background-color: rgb(250, 250, 143); 
    box-shadow: 0 0 10px 15px rgb(248, 248, 200);
}

.main-ul-pos {
    display: flex;
    align-items: center;
}

.main-lis-pos {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

a:link {
    color: white;
}

a:hover {
    font-size: 1.2em;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

.bg-forest {
    background-image: url('assets/images/forest.jpg');
}

.texty {
    font-size: 1.5em;
    padding: 6em 0;
}

.rec-img {
    max-width: 100%;
    height: auto;
    position: relative;
    border-radius: 10%;
}

.rec-title {
    position: absolute;
    bottom: 6em;
    left: 1em;
    border-bottom: 2px solid rgb(3, 3, 110);
}

.rec-sum {

}




/* Mobile */
@media(max-width: 1080px) {

.bg-blue {
    background: linear-gradient(0deg, rgb(97, 161, 182) 40%, rgb(157, 219, 240) 75%, rgb(97, 161, 182));
}

.main-lis-pos {
    justify-content: flex-start;
}

li {
    padding-left: 1em;
}



}